/* Reset and Background Styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Reset default margin to ensure full-width */
}

/* Container Styling */
.login-container {
    width: 100%;
    max-width: 600px;
    background: linear-gradient(135deg, #007bff, #0047b3);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    color: #fff;

    /* Center the container vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Content Styling */
.login-content {
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    text-align: center; /* Center align content within the box */
}

/* Heading Styling */
h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align form elements horizontally */
}

/* Input Styling */
.input-container {
    margin-bottom: 25px;
    width: 100%; /* Make input containers full width */
}

label {
    font-size: 16px;
    font-weight: 500;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Make input fields full width */
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
}

/* Button Styling */
button {
    background-color: #0047b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003280;
}

/* Additional styles for responsiveness */
@media screen and (max-width: 768px) {
    .login-container {
        max-width: 90%;
    }

    .login-content {
        padding: 30px;
    }

    h2 {
        font-size: 24px;
    }

    .input-container,
    input[type="text"],
    input[type="password"],
    button {
        width: 100%; /* Make elements full width on smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}
